#personel {
    border-collapse: collapse;
    width: 100%;
    font-size: 2rem;
    margin:2rem auto;

    }
    #personel td{
        text-align: left;
    }
     
    #personel td, #personel th {
    border: 1px solid #ddd;
    padding: 8px;
    }
     
    #personel tr:nth-child(even){background-color: #f2f2f2;}
     
    #personel tr:hover {
    background-color: #2ecc71;
    color:#fff;
    }
     
    #personel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2c3e50;
    color: white;
    }
.container-contents{
    background-color: rgb(246, 243, 243);
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    
    word-spacing: 1rem;
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    font-family: 'Muli',sans-serif;
    padding: 2rem;
    float: left;
}
.container-inclusive ul,ol{
list-style-type: none;
}
.container-inclusive img{
    width: 80%;
    margin: 3% 6%;
}
.container-inclusive h5{
text-align: center;
font-size: 3rem;
margin-top: 1rem;
color: red;
}
.clear{
    clear: both;
}
.container-inclusive{
    text-align: center;
    margin: auto;
}
.container-inclusive .container-ads{
    border: 2px solid rgb(43, 197, 184);
    width: 13%;
    height: 50rem;
    margin: auto;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    float: left;
    
    
}
.container-contents h3{
    text-align: center;
    
}
.container-contents h4{
    text-align: left;
    color: red;
    
}
.container-contents p{
    
    text-transform:none;
    margin-top: 1rem;
}
.container-contents span{
    
   color: rgb(45, 216, 79);
}
 .ADS{
    width: 100%;
    border: 2px solid rgb(154, 46, 46);
    height: 20rem;
    margin-top:2rem ;
    margin-bottom: 2rem;
}
.next{
    margin-left: 70%;
    color: red;
    line-height: normal;
    word-spacing: normal;
}
@media(max-width:1015px){
    .container-inclusive .container-contents{
      width: 69%;
    }
}
@media (max-width:968px){
   .container-contents{
    width: 90%;
    margin: 5% 15%;

   }
   .container-inclusive .container-ads{
        width: 90%;
        height: 15rem;
        margin: 5% 5%;
    }
   .container-contents img{
    width: 70%;
   }

}
@media (max-width:768px){
    .container-contents{
        width: 80%;
        margin: 5% 15%;
    }
    .container-contents img{
        width: 80%;
       }
       .container-inclusive .container-ads{
        width: 90%;
        height: 15rem;
        margin: 5% 5%;
    }
}
@media (max-width:593px){
    .container-inclusive .container-contents{
        width: 100%;
        margin: auto;
    
    }
     .container-contents img{
        width: 80%;
       }
       .container-inclusive .container-ads{
        width: 100%;
        height: 15rem;
        margin: auto;
    }
   }